<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Chat page for {{ username }}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1>Welcome, {{ username }}</h1>

    <form method = "POST">
        <textarea  cols="50" rows="4" name="message" id="message">
        </textarea>
        <br>
        <button>Send message</button>
    </form>

    {% for message in chat_messages %}
    <p>({{ message.timestamp }}) {{ message.from }}: {{ message.message }}</p>
    {% endfor %}

    <script>
        let textbox = document.getElementById("message")

        let timer = setTimeout(function() {
            location.reload();
        }, 5000)

        textbox.onkeydown = function(e) {

            clearTimeout(timer)

            timer = setTimeout(function(){
                location.reload();
            }, 5000)
        }
    </script>
  </body>
</html>
